:root {
    --color1: #780000;
    --color2: #c1121f;
    --color3: #003049;
    --color4: #669bbc;
    --color5: #fdf0d5;
}

body {
    background-color: var(--color5);
    color: var(--color1);
}

header {
    color: var(--color1);
    margin: 0.5rem;
}

header>h2,
header>input,
header>h4 {
    display: inline-block;
}

body>main {
    display: inline-block;
    border: 0.2rem #00304910 solid;
}

section {
    background-color: #00304930;
}

article:hover {
    background-color: #00304960;
}

nav {
    display: inline-block;
    background-color: #00304930;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.2rem #00304910 solid;
}

article {
    background-color: #669bbc99;
    color: var(--color3);
    border: 0.2rem var(--color4) solid;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

article>footer {
    text-align: right;
}

body>footer {
    color: var(--color1);
    margin: 0.5rem;
}