.button {
    padding: 0.5rem;
    background-color: lightgray;
    border: none;
    border: 1px solid gray;
    border-radius: 90px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.button:hover {
    background-color: lightslategray;
}