.captionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: whitesmoke;
    width: 50vw;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 30px;
}