.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Potta One", cursive;
  font-size: 1.1rem;
  text-decoration: none;
  color: #222;
  margin-right: 3rem;
}

.logo:hover {
  color: #000;
  text-decoration: dotted underline;
}

.link {
  background: #00000011;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  margin-right: 1rem;
  padding: 0.3rem;
  border: 1px solid #00000011;
}

.link:hover {
  background: #fff;
  color: black;
  border: 1px solid #00000055;
}
