.header {
  display: flex;
  justify-content: center;
  margin: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Potta One", cursive;
  font-size: 3rem;
  text-decoration: none;
  color: #222;
}

.logo:hover {
  color: #000;
  text-decoration: dotted underline;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

.main {
  margin: 2rem;
}

.captionList {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.captionItem {
  background-color: #eee;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 1rem;
  filter: none;
}

.captionItem:hover {
  filter: invert(0.9);
}

.captionItem header {
  font-size: 2rem;
  font-weight: 800;
  color: black;
  border-bottom: 1px solid gray;
}

.kanjiItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #eee;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 1rem;
  filter: none;
}

.kanjiItem:hover {
  filter: invert(0.9);
}

.kanjiItem header {
  font-size: 3rem;
  font-weight: 800;
  color: black;
  padding-right: 2rem;
  margin-right: 1rem;
  border-right: 1px solid gray;
}

.badgeList {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  font-size: 0.75rem;
}

@media (max-width: 200px) {
  .badgeList {
    flex-direction: column;
  }

  .badge {
    margin-bottom: 0.5rem;
  }
}

.badge {
  margin-right: 0.5rem;
  background-color: #ccc;
  border-radius: 10px;
  padding: 0 1rem;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search input {
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  margin: 0.2rem;
  border: 1px solid gray;
  background-color: none;
  color: black;
}
.search button {
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: 0.4rem 0.6rem;
  margin: 0.2rem;
  border-radius: 10px;
  display: inline;
}
