.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90%;
  min-height: 50px;
  border-radius: 30px;
  width: 50%;
}

.search > input {
  width: 100%;
  padding: 0.3rem 0.6rem;
  border-radius: 30px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #aaa;
}

.hero_image {
  position: relative;
  width: 0vw;
  height: 50vh;
  min-width: 300px;
}

.hero_image img {
  object-fit: contain;
}
