.entry-list {
    margin-bottom: 1rem;
    padding: 1rem;
}

.entry {
    font-family: "Noto Serif Khojki", serif;
    border-bottom: 1px dashed black;
    padding: 2rem 0;
    text-align: justify;
}

.entry-author {
    font-weight: 300;
}

.entry-details {
    text-align: right;
    text-decoration: none;
}

.entry-date {
    font-weight: 400;
}


.dict-header {
    font-family: "Kosugi", sans-serif;
}


.dict-new {
    border: 1px solid black;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
}


.dict-entry {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
}

.entry-list :nth-last-child(1) {
    border-bottom: none;
}