.search {
    box-shadow: 2px 1px 5px gray;
    border-radius: 10px;
}

.bar {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.bar:focus {
    color: black;
}

.button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 1rem;
    transition: all 0.1s;
}

.button:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}