@import url("https://fonts.googleapis.com/css2?family=Kosugi&family=Noto+Serif+Khojki:wght@400;700&family=Open+Sans:wght@300;400;700&family=Potta+One&display=swap");

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.icon {
  margin: 0.3rem;
}


.main-footer {
  text-align: center;
}


html body {
  margin-top: 6rem;
}

header {
  background-color: #fff;
  border-bottom: 1px solid black;
}

.logo {
  font-family: "Potta One", cursive;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Open Sans", sans-serif;
}

footer {
  margin: 3rem;
}